<video poster="/assets/wallpapper.jpg" id="bgvid" playsinline autoplay muted loop>
  <source src="/assets/Roulette.mp4" type="video/mp4">
</video>

<div class="gradient">
</div>

<div class="loginDiv">
  <div class="card" style="width: 20rem;">
    <div class="card-header"><h4 class="card-title">Roulette Login</h4></div>
    <div class="card-body">
      <div class="mb-3">
        <label for="LoginID">Unique User ID</label>
        <input [(ngModel)]="userId" [class.is-invalid] = "!loginStatus"
          type="number" class="form-control" id="LoginID" placeholder="Enter Unique ID" required>
        <div class="invalid-feedback">
          Unique ID not found. Please try again.
        </div>
      </div>
      <button class="btn btn-primary" (click)="loginUser()">LOGIN</button>
    </div>
  </div>
</div>

