<img src="/assets/background.jpg" class="background"/>
<div *ngIf="!user">
  <h1 class="display-1">Loading. Please wait</h1>
</div>



<div *ngIf="user" class="container my-4">

  <p class="text-center roulette">
    Roulette
  </p>

  <div class="row">
    <table class="table table-responsive">
      <tbody>
      <tr>
        <td rowspan="3" class="text-center hoverable vertical-center">
          <div class="row">
            <div class="col">
              <i class="fa fa-minus-circle"   (click)="minusOne(constants.iZERO)"></i>
            </div>
            <div class="col">
              <div>0</div>
              <div *ngIf="chipCount[constants.iZERO] > 0" class="chip">{{chipCount[constants.iZERO]}}</div>
            </div>
            <div class="col">
              <i   class="fa fa-plus-circle" (click)="plusOne(constants.iZERO)"></i>
            </div>
          </div>
        </td>
        <td>3</td>
        <td>6</td>
        <td>9</td>
        <td>12</td>
        <td>15</td>
        <td>18</td>
        <td>21</td>
        <td>24</td>
        <td>27</td>
        <td>30</td>
        <td>33</td>
        <td>36</td>
      </tr>
      <tr>
        <td>2</td>
        <td>5</td>
        <td>8</td>
        <td>11</td>
        <td>14</td>
        <td>17</td>
        <td>20</td>
        <td>23</td>
        <td>26</td>
        <td>29</td>
        <td>32</td>
        <td>35</td>
      </tr>
      <tr>
        <td>1</td>
        <td>4</td>
        <td>7</td>
        <td>10</td>
        <td>13</td>
        <td>16</td>
        <td>19</td>
        <td>22</td>
        <td>25</td>
        <td>28</td>
        <td>31</td>
        <td>34</td>
      </tr>
      <tr>
        <td style="border: 0px solid black; background: transparent">
        </td>
        <td colspan="4" class="text-center hoverable" >
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iFIRST_TWELVE)"></i></div>
            <div class="col">
              <div>1st 12</div>
              <div *ngIf="chipCount[constants.iFIRST_TWELVE] > 0" class="chip">{{chipCount[constants.iFIRST_TWELVE]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iFIRST_TWELVE)"></i></div>
          </div>
        </td>
        <td colspan="4" class="text-center hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iSECOND_TWELVE)"></i></div>
            <div class="col">
              <div>2nd 12</div>
              <div *ngIf="chipCount[constants.iSECOND_TWELVE] > 0" class="chip">{{chipCount[constants.iSECOND_TWELVE]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iSECOND_TWELVE)"></i></div>
          </div>
        </td>
        <td colspan="4" class="text-center hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iTHIRD_TWELVE)"></i></div>
            <div class="col">
              <div>3rd 12</div>
              <div *ngIf="chipCount[constants.iTHIRD_TWELVE] > 0" class="chip">{{chipCount[constants.iTHIRD_TWELVE]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iTHIRD_TWELVE)"></i></div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="border: 0px; background: transparent"></td>
        <td colspan="2" class="hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iFIRST_EIGHTEEN)"></i></div>
            <div class="col">
              <div>1&nbsp;-&nbsp;18</div>
              <div *ngIf="chipCount[constants.iFIRST_EIGHTEEN] > 0" class="chip">{{chipCount[constants.iFIRST_EIGHTEEN]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iFIRST_EIGHTEEN)"></i></div>
          </div>
        </td>
        <td colspan="2" class="hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iEVEN)"></i></div>
            <div class="col">
              <div>Even</div>
              <div *ngIf="chipCount[constants.iEVEN] > 0" class="chip">{{chipCount[constants.iEVEN]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iEVEN)"></i></div>
          </div>
        </td>
        <td colspan="2">
          <div class="row text-center">
            <div class="col" style="visibility: hidden"><i   class="fa fa-plus-circle"></i></div>
            <div class="col">Red</div>
            <div class="col" style="visibility: hidden"><i   class="fa fa-plus-circle"></i></div>
          </div>
        </td>
        <td colspan="2">
          <div class="row text-center">
            <div class="col" style="visibility: hidden"><i   class="fa fa-plus-circle"></i></div>
            <div class="col">Black</div>
            <div class="col" style="visibility: hidden"><i   class="fa fa-plus-circle"></i></div>
          </div>
        </td>
        <td colspan="2" class="hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iODD)"></i></div>
            <div class="col">
              <div>Odd</div>
              <div *ngIf="chipCount[constants.iODD] > 0" class="chip">{{chipCount[constants.iODD]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iODD)"></i></div>
          </div>
        </td>
        <td colspan="2" class="hoverable">
          <div class="row">
            <div class="col"><i   class="fa fa-minus-circle" (click)="minusOne(constants.iLAST_EIGHTEEN)"></i></div>
            <div class="col">
              <div>19&nbsp;-&nbsp;36</div>
              <div *ngIf="chipCount[constants.iLAST_EIGHTEEN] > 0" class="chip">{{chipCount[constants.iLAST_EIGHTEEN]}}</div>
            </div>
            <div class="col"><i   class="fa fa-plus-circle" (click)="plusOne(constants.iLAST_EIGHTEEN)"></i></div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <app-score [bets]="chipCount"></app-score>
    </div>
    <div class="col">

      <app-user *ngIf="isPlacingBet" [userName]="user.name" [userBet]="userBet" [userBalance]="userBalance" (playClicked)="placeBet()"></app-user>
      <app-result *ngIf="!isPlacingBet" [chipCount]="chipCount" [userId]="user.uid" (onRetry)="resetGame()"></app-result>
    </div>
  </div>
</div>

<audio #pokerChipAudio>
  <source src="/assets/sound/poker_chip.mp3">
</audio>
