.roulette {
  text-align: center;
  font-size: 5em;
  margin: 20px 0 20px 0;text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #228DFF;
  font-family: Iceland;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;

}


@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}


td {
  border: 5px solid white;
  color: white;
  background-color: green;
  text-align: center;
}

.vertical-center {
  vertical-align: middle !important;
}

.hoverable {
  text-align: center;
  background: red;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -100;
}

i:hover {
  cursor: pointer;
}

.chip {
  padding: 1em;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('/assets/chip.png');
  float:left;
  margin-right: 0;
  display: block;
  position: relative;
}
